openapi: 3.0.0
info:
  title: VATSIM Canada
  version: '2.0'
  description: >-
    Documentation of the VATCAN API. Most endpoints are restricted to FIRs
    within the division.
  contact:
    email: tech@vatcan.ca
externalDocs:
  description: Generate your FIR's API Key
  url: https://vatcan.ca/manage/facilities
servers:
  - url: https://vatcan.ca/api
tags:
  - name: General Calls
    description: Publicly available and division-wide endpoints.
  - name: FIR Calls
    description: Authenticated endpoints restricted to specific Flight Information Regions.
paths:
  /v2/user/{cid}:
    get:
      summary: Returns a user's details by their CID.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "User fetched successfully."
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/cbt:
    get:
      summary: Fetches the users CBT Progress.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "CBT progress retrieved successfully."
                  cid:
                    type: integer
                    example: 863269
                  training_progress:
                    type: array
                    items:
                      $ref: '#/components/schemas/CBTProgress'
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/notes:
    get:
      summary: Returns a user's notes by their CID.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Notes retrieved successfully."
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingNote'
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/notes/create:
    post:
      summary: Create a new training note for a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                  example: 1442820
                position:
                  type: string
                  example: "CYEG_APP"
                note:
                  type: string
                  example: "This guy the guy! Note test"
                session_type:
                  type: integer
                  example: 0
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/facility/roster:
    get:
      summary: Returns FIR's roster.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully"
                  data:
                    type: object
                    properties:
                      facility:
                        $ref: '#/components/schemas/Facility'
                      staff:
                        type: object
                        properties:
                          chief:
                            $ref: '#/components/schemas/RosterUser'
                          deputy:
                            $ref: '#/components/schemas/RosterUser'
                          ci:
                            $ref: '#/components/schemas/RosterUser'
                          ec:
                            $ref: '#/components/schemas/RosterUser'
                          fe:
                            $ref: '#/components/schemas/RosterUser'
                          wm:
                            $ref: '#/components/schemas/RosterUser'
                      controllers:
                        type: array
                        items:
                          $ref: '#/components/schemas/RosterUser'
                      visitors:
                        type: array
                        items:
                          $ref: '#/components/schemas/RosterUser'
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/facility/events:
    get:
      summary: Returns all FIR events (sorted oldest to newest).
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully."
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/division/events:
    get:
      summary: Returns list of next 15 events (sorted newest to oldest).
      tags:
        - General Calls
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'

  /v2/user/{cid}/instructor/assign:
    post:
      summary: Assign an instructor to a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the student user.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                  description: The CID of the instructor being assigned.
                assigned_by:
                  type: integer
                  description: The CID of the staff member making the assignment.
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/instructor/unassign:
    post:
      summary: Unassign an instructor from a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the student user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        image_url:
          type: string
        start:
          type: string
          example: "2026-03-29 00:00:00"
        end:
          type: string
          example: "2026-03-29 03:00:00"
        airports:
          type: object
          properties:
            arrival:
              type: array
              items:
                type: string
            departure:
              type: array
              items:
                type: string
        forum_event_id:
          type: integer
          nullable: true
        facilities:
          type: integer
        user_cid:
          type: integer
        edit_cid:
          type: integer
          nullable: true
        is_repeating:
          type: boolean
        repeat_days:
          type: string
          nullable: true
        repeat_until:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        cid:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        facility:
          type: integer
        facility_join:
          type: string
          nullable: true
        rating:
          type: integer
        last_active:
          type: string
        flag_basic:
          type: integer
        flag_is_visitor:
          type: integer
        flag_xferOverride:
          type: integer
        flag_visitOverride:
          type: integer
        flag_soloOverride:
          type: integer
        transfer_visit_lock:
          type: string
          nullable: true
        last_api_check:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        email_preferences:
          type: integer
        name_privacy_mode:
          type: integer
        welcome_sent:
          type: integer
        is_instructor:
          type: boolean
        is_mentor:
          type: boolean
        instructor:
          type: integer
          nullable: true
        fir:
          $ref: '#/components/schemas/Facility'
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
        visiting_facilities:
          type: array
          items:
            $ref: '#/components/schemas/VisitingFacility'

    RosterUser:
      type: object
      properties:
        cid:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        facility:
          type: integer
        facility_join:
          type: string
          nullable: true
        rating:
          type: integer
        last_active:
          type: string
        flag_basic:
          type: integer
        flag_is_visitor:
          type: integer
        flag_xferOverride:
          type: integer
        flag_visitOverride:
          type: integer
        flag_soloOverride:
          type: integer
        transfer_visit_lock:
          type: string
          nullable: true
        last_api_check:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        email_preferences:
          type: integer
        name_privacy_mode:
          type: integer
        welcome_sent:
          type: integer
        is_instructor:
          type: boolean
        is_mentor:
          type: boolean
        instructor:
          type: integer
          nullable: true
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
        fir:
          $ref: '#/components/schemas/Facility'
        visiting_facilities:
          type: array
          items:
            $ref: '#/components/schemas/VisitingFacility'

    Facility:
      type: object
      properties:
        id:
          type: integer
        name_long:
          type: string
        name_short:
          type: string
        name_friendly:
          type: string
        website_url:
          type: string
        fir_description:
          type: string
        is_fir:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Integration:
      type: object
      properties:
        id:
          type: integer
        type:
          type: integer
        user_cid:
          type: integer
        value:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VisitingFacility:
      type: object
      properties:
        id:
          type: integer
        user_cid:
          type: integer
        facility_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        fir:
          $ref: '#/components/schemas/Facility'

    CBTProgress:
      type: object
      properties:
        facility:
          type: string
        blocks:
          type: array
          items:
            type: object
            properties:
              block_id:
                type: integer
              title:
                type: string
              sort_order:
                type: integer
              completed_chapters:
                type: object
                additionalProperties:
                  type: string
              stats:
                type: object
                properties:
                  completed_count:
                    type: integer
                  total_count:
                    type: integer
                  percentage:
                    type: number
              updated_at:
                type: string

    TrainingNote:
      type: object
      properties:
        id:
          type: integer
        user_cid:
          type: integer
        instructor_cid:
          type: integer
        facility_id:
          type: integer
        position_trained:
          type: string
        training_note:
          type: string
        session_type:
          type: integer
        marking_sheet:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        ots_pass:
          type: integer
        friendly_time:
          type: string
          format: date
        instructor_name:
          type: string

  securitySchemes:
    AuthorizationHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'Format: `Token [api_key]`'
    QueryString:
      type: apiKey
      name: api_key
      in: query

  responses:
    InvalidApiKey:
      description: API key error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string