---
swagger: "2.0"
info:
  description: "VATCAN Documentation. API routes that don't require authentication will be marked by a gray \"unlocked\" lock icon"
  version: "2.0"
  title: "VATSIM Canada"
  contact:
    email: "tech@vatcan.ca"
host: "vatcan.ca/"
basePath: "api"
tags:
  - name: "events"
  - name: "user"
  - name: "facility"
  - name: "division"
externalDocs:
    description: "Generate your Facility API Key"
    url: "https://vatcan.ca/manage/facilities"
schemes:
- "https"
- "http"
paths:
  /events:
    get:
      tags:
        - "events"
      summary: "Pulls the next 5 events."
  /v2/user/{cid}:
    get:
      tags:
        - "user"
      summary: "Fetches the user."
      parameters:
        - name: "cid"
          in: "path"
          description: "The CID of the user."
      security: []
  /v2/user/{cid}/notes:
    get:
      tags:
        - "user"
      summary: "Fetches the users training notes. This will only return notes that were made by your FIR."
      parameters:
        - name: "cid"
          in: "path"
          description: "The CID of the user."
      security: []
  /v2/user/{cid}/notes/create:
    post:
      tags:
        - "user"
      summary: "Creates a new training note for this user."
      security: []
      parameters:
        - name: "cid"
          in: "path"
          required: true
          description: "CID of the user."
        - name: "instructor_cid"
          in: "body"
          schema:
            type: "integer"
          required: true
          description: "The CID of the instructor."
        - name: "position_trained"
          in: "body"
          schema:
            type: "string"
          required: true
          description: "The position trained on."
        - name: "note"
          in: "body"
          schema:
            type: "string"
          required: true
          description: "The training note."
        - name: "session_type"
          in: "body"
          schema:
            type: "integer"
          required: true
          description: "The session type. 0 = Sweatbox; 1 = OJT (Monitoring); 2 = OTS; 3 = Other"
  /v2/facility/roster:
    get:
      tags:
        - "facility"
      summary: "Pulls the facility roster. This will include visitors, home controllers, and staff."
      security: []
  /v2/facility/activity:
    get:
      tags:
        - "facility"
      summary: "Pulls the FIR activity from the last 4 weeks."
      security: []
  /v2/facility/events:
    get:
      tags:
       - "facility"
      summary: "Pulls the next FIR events."
      security: []
  /v2/division/events:
    get:
      tags:
        - "division"
      summary: "Pull the next 15 VATCAN events."

security:
  - ApiKeyAuth: []

securityDefinitions:
  authorization_header:
    type: "apiKey"
    name: "Token"
    in: "header"
  query:
    type: "apiKey"
    name: "api_key"
    in: "query"
