openapi: 3.0.0
info:
  title: VATSIM Canada
  version: '2.0'
  description: >-
    Documentation of the VATCAN API. Most endpoints are restricted to FIRs
    within the division.
  contact:
    email: tech@vatcan.ca
externalDocs:
  description: Generate your FIR's API Key
  url: https://vatcan.ca/manage/facilities
servers:
  - url: https://vatcan.ca/api
tags:
  - name: v2
  - name: user
  - name: facility
  - name: division
  - name: events
paths:
  /events:
    get:
      summary: Returns list of next 5 events (for home page).
      tags:
        - events
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
  /v2/user/{cid}:
    get:
      summary: Returns a user's details by their CID.
      tags:
        - user
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/user/{cid}/cbt:
    get:
      tags:
        - user
      summary: "Fetches the users CBT Progress."
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /v2/user/{cid}/notes:
    get:
      summary: Returns a user's notes by their CID.
      tags:
        - user
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - in: path
          name: cid
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingNote'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/user/{cid}/notes/create:
    post:
      summary: Create a new training note for a user.
      tags:
        - user
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - in: path
          name: cid
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                position:
                  type: string
                note:
                  type: string
                session_type:
                  type: integer
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/facility/roster:
    get:
      summary: Returns FIR's roster.
      tags:
        - facility
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                  data:
                    type: object
                    properties:
                      facility:
                        $ref: '#/components/schemas/Facility'
                      controllers:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
                      visitors:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserWithFIR'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/facility/activity:
    get:
      summary: Returns FIR's activity from last 4 weeks.
      tags:
        - facility
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/facility/events:
    get:
      summary: Returns all FIR events.
      tags:
        - facility
        - v2
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /v2/division/events:
    get:
      summary: Returns list of next 15 events.
      tags:
        - division
        - v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        image_url:
          type: string
        start:
          type: string
        end:
          type: string
        airports:
          type: object
          properties:
            arrival:
              type: array
              nullable: true
              items:
                type: string
            departure:
              type: array
              nullable: true
              items:
                type: string
        forum_event_id:
          type: integer
        facilities:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        forum_url:
          type: string
        start_pretty:
          type: string
        end_pretty:
          type: string
    User:
      type: object
      properties:
        cid:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        facility:
          type: integer
        facility_join:
          type: string
        rating:
          type: integer
        last_active:
          type: string
        flag_basic:
          type: boolean
        flag_is_visitor:
          type: boolean
        flag_xferOverride:
          type: boolean
        last_api_check:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        email_preferences:
          type: integer
    UserWithFIR:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            fir:
              $ref: '#/components/schemas/Facility'
    Facility:
      type: object
      properties:
        id:
          type: integer
        name_long:
          type: string
        name_short:
          type: string
        website_url:
          type: string
        fir_description:
          type: string
        is_fir:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TrainingNote:
      type: object
      properties:
        id:
          type: integer
        cid:
          type: integer
        instructor_cid:
          type: integer
        facility_id:
          type: integer
        training_note:
          type: string
        session_type:
          type: integer
          enum: [0, 1, 2, 3]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        friendly_time:
          type: string
          format: date
        instructor_name:
          type: string
    Activity:
      type: object
      properties:
        id:
          type: integer
        user_cid:
          type: integer
        time:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    AuthorizationHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'Format: `Token [api_key]`'
    QueryString:
      type: apiKey
      name: api_key
      in: query
  responses:
    InvalidApiKey:
      description: API key error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string