openapi: 3.0.0
info:
  title: VATSIM Canada
  version: '2.0'
  description: >-
    Documentation of the VATCAN API. Most endpoints are restricted to FIRs
    within the division.
  contact:
    email: tech@vatcan.ca
externalDocs:
  description: Generate your FIR's API Key
  url: https://vatcan.ca/manage/facilities
servers:
  - url: https://vatcan.ca/api
tags:
  - name: General Calls
    description: Publicly available and division-wide endpoints.
  - name: FIR Calls
    description: Authenticated endpoints restricted to specific Flight Information Regions.
paths:
  /v2/user/{cid}:
    get:
      summary: Returns a user's details by their CID.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "User fetched successfully."
                  data:
                    type: object
                    properties:
                      cid:
                        type: integer
                        example: 123456
                      first_name:
                        type: string
                        example: "First"
                      last_name:
                        type: string
                        example: "Last"
                      facility:
                        type: integer
                        example: 1
                      facility_join:
                        type: string
                        nullable: true
                        example: null
                      rating:
                        type: integer
                        example: 10
                      last_active:
                        type: string
                        example: "2026-05-10 01:46:09"
                      flag_basic:
                        type: integer
                        example: 0
                      flag_is_visitor:
                        type: integer
                        example: 0
                      flag_xferOverride:
                        type: integer
                        example: 0
                      flag_visitOverride:
                        type: integer
                        example: 0
                      flag_soloOverride:
                        type: integer
                        example: 0
                      transfer_visit_lock:
                        type: string
                        nullable: true
                        example: null
                      last_api_check:
                        type: string
                        example: "2026-05-30 15:01:31"
                      created_at:
                        type: string
                        example: "2021-03-27T01:55:14.000000Z"
                      updated_at:
                        type: string
                        example: "2026-05-30T15:01:31.000000Z"
                      email_preferences:
                        type: integer
                        example: 2047
                      name_privacy_mode:
                        type: integer
                        example: 1
                      welcome_sent:
                        type: integer
                        example: 1
                      instructor:
                        type: integer
                        nullable: true
                        example: 123321
                      fir:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name_long:
                            type: string
                            example: "XX FIR"
                          name_short:
                            type: string
                            example: "CXXX"
                          name_friendly:
                            type: string
                            example: "XX FIR (CXXX)"
                          website_url:
                            type: string
                            example: "https://website.ca"
                          fir_description:
                            type: string
                            example: "FIR is FIR!"
                          is_fir:
                            type: integer
                            example: 1
                          created_at:
                            type: string
                            example: "2020-08-12T15:16:18.000000Z"
                          updated_at:
                            type: string
                            example: "2023-11-17T19:43:28.000000Z"
                      visiting_facilities:
                        type: array
                        items:
                          type: object
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/cbt:
    get:
      summary: Fetches the users CBT Progress.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "CBT progress retrieved successfully."
                  cid:
                    type: integer
                    example: 123456
                  training_progress:
                    type: array
                    items:
                      type: object
                      properties:
                        facility:
                          type: string
                          example: "Academy"
                        blocks:
                          type: array
                          items:
                            type: object
                            properties:
                              block_id:
                                type: integer
                                example: 13
                              title:
                                type: string
                                example: "Welcome to VATCAN"
                              sort_order:
                                type: integer
                                example: 1
                              completed_chapters:
                                type: object
                                additionalProperties:
                                  type: string
                              stats:
                                type: object
                                properties:
                                  completed_count:
                                    type: integer
                                    example: 3
                                  total_count:
                                    type: integer
                                    example: 4
                                  percentage:
                                    type: number
                                    example: 75
                              updated_at:
                                type: string
                                example: "2026-04-19 22:30:46"
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/notes:
    get:
      summary: Returns a user's notes by their CID.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Notes retrieved successfully."
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 389
                        user_cid:
                          type: integer
                          example: 123456
                        instructor_cid:
                          type: integer
                          example: 123321
                        facility_id:
                          type: integer
                          example: 1
                        position_trained:
                          type: string
                          example: "XXX_TWR"
                        training_note:
                          type: string
                          example: "More situational awareness..."
                        session_type:
                          type: integer
                          example: 2
                        marking_sheet:
                          type: string
                          nullable: true
                          example: null
                        created_at:
                          type: string
                          example: "2020-08-23T02:08:45.000000Z"
                        updated_at:
                          type: string
                          example: "2020-08-23T02:08:45.000000Z"
                        ots_pass:
                          type: integer
                          example: 1
                        friendly_time:
                          type: string
                          example: "2020-08-23"
                        instructor_name:
                          type: string
                          example: "Mr Canada"
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/notes/create:
    post:
      summary: Create a new training note for a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the user.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                  example: 123321
                position:
                  type: string
                  example: "XXX_APP"
                note:
                  type: string
                  example: "Woa, they parked 400 airplanes"
                session_type:
                  type: integer
                  example: 0
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/facility/roster:
    get:
      summary: Returns FIR's roster.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully"
                  data:
                    type: object
                    properties:
                      facility:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name_long:
                            type: string
                            example: "XX FIR"
                          name_short:
                            type: string
                            example: "CXXX"
                          name_friendly:
                            type: string
                            example: "XX FIR (CXXX)"
                          website_url:
                            type: string
                            example: "https://website.ca"
                          fir_description:
                            type: string
                            example: "An FIR in Canada..."
                          is_fir:
                            type: integer
                            example: 1
                          created_at:
                            type: string
                          updated_at:
                            type: string
                      staff:
                        type: object
                        additionalProperties:
                          type: object
                          description: "Staff position profiles (chief, deputy, ci, ec, fe, wm)"
                      controllers:
                        type: array
                        items:
                          type: object
                          description: "Home facility controllers list"
                      visitors:
                        type: array
                        items:
                          type: object
                          description: "Visiting controllers list"
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/facility/events:
    get:
      summary: Returns all FIR events (sorted oldest to newest).
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully."
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 50
                        name:
                          type: string
                          example: "The Triangle"
                        description:
                          type: string
                        image_url:
                          type: string
                        start:
                          type: string
                          example: "2026-04-04 21:00:00"
                        end:
                          type: string
                          example: "2026-04-05 00:00:00"
                        airports:
                          type: object
                          properties:
                            arrival:
                              type: array
                              items:
                                type: string
                            departure:
                              type: array
                              items:
                                type: string
                        forum_event_id:
                          type: integer
                          nullable: true
                        facilities:
                          type: integer
                        user_cid:
                          type: integer
                        edit_cid:
                          type: integer
                          nullable: true
                        is_repeating:
                          type: boolean
                        repeat_days:
                          type: string
                          nullable: true
                        repeat_until:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/facility/cbt:
    get:
      summary: Returns the active CBT course tracks configured for this facility FIR.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully."
                  facility:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name_short:
                        type: string
                        example: "CXXX"
                      name_long:
                        type: string
                        example: "XX FIR"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 39
                        title:
                          type: string
                          example: "CXXX Configuration Setup"
                        sort:
                          type: integer
                          example: 1
                        chapters:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 148
                              title:
                                type: string
                                example: "Welcome to the FIR"
                              sort:
                                type: integer
                                example: 1
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/division/events:
    get:
      summary: Returns list of next 15 events (sorted newest to oldest).
      tags:
        - General Calls
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1086
                        name:
                          type: string
                          example: "Freight Frenzy"
                        description:
                          type: string
                        image_url:
                          type: string
                        start:
                          type: string
                        end:
                          type: string
                        airports:
                          type: object
                        forum_event_id:
                          type: integer
                          nullable: true
                        facilities:
                          type: integer
                        user_cid:
                          type: integer
                        edit_cid:
                          type: integer
                          nullable: true
                        is_repeating:
                          type: boolean
                        repeat_days:
                          type: string
                          nullable: true
                        repeat_until:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string

  /v2/division/cbt:
    get:
      summary: Returns global active CBT tracks managed at the division level (e.g. Academy courses).
      tags:
        - General Calls
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: "Fetched successfully."
                  facility:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      name_short:
                        type: string
                        example: "CZAE"
                      name_long:
                        type: string
                        example: "Academy"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 13
                        title:
                          type: string
                          example: "Welcome to VATCAN"
                        sort:
                          type: integer
                          example: 1
                        chapters:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 151
                              title:
                                type: string
                                example: "Welcome to VATCAN"
                              sort:
                                type: integer
                                example: 1

  /v2/user/{cid}/instructor/assign:
    post:
      summary: Assign an instructor to a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the student user.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                assigned_by:
                  type: integer
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

  /v2/user/{cid}/instructor/unassign:
    post:
      summary: Unassign an instructor from a user.
      tags:
        - FIR Calls
      security:
        - AuthorizationHeader: []
        - QueryString: []
      parameters:
        - name: cid
          in: path
          required: true
          description: The CID of the student user.
          schema:
            type: integer
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/InvalidApiKey'

components:
  securitySchemes:
    AuthorizationHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'Format: `Token [api_key]`'
    QueryString:
      type: apiKey
      name: api_key
      in: query
  responses:
    InvalidApiKey:
      description: API key error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string